@font-face{
    font-family : "legothick";
    src : url('Legothick.ttf');
}

article
{
    align-items : center;
    background: #dbdbdb;
    display : flex;
    flex-direction: column;
    height: 90vh;
}

.slide 
{
    width : 30%;
    margin-top : 2vh;
}

article h2
{
    background: #2c3e50;
    font-size: 30px;
    color: #fff;
}

.paragraph_1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

article p
{
    color: #2c3e50;
    text-align: justify;
    width : 95%;
    margin-left : 2.5%;
}

.img_lego
{
    margin-left : 60%;
    width : 17%;
}

@media screen and (max-width: 750px) 
{
    .slide 
    {
        width : 90%;
        margin-top : 2vh;
    } 

    article p
    {
        color: #2c3e50;
        margin-left : 5%;
        width :90%;
    }
    .img_lego
    {
        width : 24%;
    }
}

 /* ------------------ Here for the footer section ----------- */
 
 footer {
    display: flex;
    height: 10vh;
    background-image: url(https://i.postimg.cc/ydGJQ959/test-background.png);
    border-top: 2px solid rgba(255, 7, 7, 0.884);
    width: 100%;
    /* --- ici  permet de garder le footer sticky ---- */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "legothick";
    text-transform: uppercase;
 
 
 }
 
 
 #utils_left {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    font-weight: 1000;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 1em;
    margin-top: 40px;
    width: 50%;
 }
 
 #utils_left li a {
    color: #ff1818;
    text-decoration: none;
    width: auto;
    
 }
 
 #utils_right {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 30%;
    padding: 0.5em 1em;
    margin-top: 30px;
    width: 12%;
    font-weight: 1000;
 }
 
 #utils_right li a {
    color: #ff1818;
    text-decoration: none;
    width: auto;
    
 }
 #utils_right li a:hover {
    border-top: 1px solid #ff1818;
    border-bottom: 1px solid #ff1818;
 }
 #utils_left li a:hover{
    border-top: 1px solid #ff1818;
    border-bottom: 1px solid #ff1818;
    
 }
 
 #utils_right span {
    color: #ff1818;
    width: auto;
 }
 
 /* ----------------------------      Media Queries      --------------------------------------------  */
 
 
 @media only screen and (max-width: 961px) {
    footer {
       height:140px;
       position: fixed;
       bottom: 0;
       left: 0;
       right: 0;
 
    }
 
    .form-style-new {
       max-width: 600px;
       height: auto;
       font-family: Arial, Helvetica, sans-serif;
       margin: auto;
    }
 
    #utils_left {
 
       display: inline-block;
       flex-wrap: wrap;
       font-size: 2.5vh;
       height: 70%;
       justify-content: space-between;
       list-style-type: none;
       padding: 0 1em;
       margin:auto;
       
    }
       
       #utils_right li a {
          color: #ff1818;
          text-decoration: none;
          width: auto;
          display: inline-block;
       flex-wrap: wrap;
       font-size: 2vh;
          
       }
    
       #utils_right {
        display: inline-flex;
        justify-content: space-between;
       font-size: 2.5vh;
       height: 70%;
       list-style-type: none;
       padding: 0 1em;
       margin:auto;
       
 
 
 }
}