* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {

    height: 100%;
}


body {
    color: black;
    background-image: url("https://i.postimg.cc/ZKrrQrYW/test-background-light-Grey.png");
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

@font-face {
    font-family: "legothick";
    src: url('Legothick.ttf');
}

nav {
    display: flex;
    line-height: 6vh;
    vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a {
    color: rgb(255, 0, 0);
    font-family: "legothick";
    font-size: 4vh;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding-top: 5px;
}

#hamburger {
    background-color: rgb(241, 243, 129);
    justify-content: center;
}

#red {
    background-color: rgb(241, 243, 129);
    width: 100%;
}

.menuContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* ----- presentation bloc ----- */

.containerPresentation {
    align-content: space-between;
    align-items: center;
    display: flex;
    height: 12em;
    justify-content: flex-end;
    width: 20em;
}

.textPresentation {
    color: #ffffff;
    display: flex;
    font-family: "legothick";
    font-size: 2.5em;
    src: url('Legothick.ttf');
}

.legoFace {
    display: flex;
    width: 8em;
}

/* ----- news container ----- */

.containerActu {

    color: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 12em;
    margin: 0.5em;
    position: relative;
    text-align: center;
    width: 20em;
}

h2 {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 1
}

p {
    bottom: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 18em;
}

#actu {
    display: flex;
    margin: 0;
    opacity: 1;
    transition: 0.8s;
    width: 100%;
}

#actu:active {
    opacity: 1;
    transition: 0.8s;
}

/* ----- topics ----- */

.container {

    position: relative;
    text-align: center;
    transition: 0.8s;
}

.img_cat {

    display: flex;
    height: 12em;
    margin: 0.5em;
    opacity: 1;
    transition: 0.8s;
    width: 20em;
}

.text {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1
}

.textActu {
    color: #ffffff;
    font-family: 'Be Vietnam', sans-serif;
}

.img_cat:active {
    color: transparent;
    opacity: 1;
    transition: 0.8s;
}

/* ------- DESKTOP AND TABLET -------  */

@media screen and (min-width: 961px) {

    .containerPresentation {
        align-items: center;
        display: flex;
        justify-content: space-around;
        height: 35em;
        width: 90%;
    }

    .textPresentation {
        display: flex;
        font-family: "legothick";
        font-size: 6em;
        src: url('Legothick.ttf');
    }

    .legoFace {
        display: flex;
        margin-left: 2em;
        width: 12em;
        transform: scale(1.7)
    }

    .text {

        font-family: 'Be Vietnam', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 7em;
        font-weight: 700;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .textActu {
        filter: blur(0.5px);
        color: #000000;
        background: #ffa011;
        opacity: 0.7;
        border-radius: 10px;
        font-family: 'Be Vietnam', sans-serif;
        font-weight: 300;
        font-size: 1.8em;
        width: 90%;
        height: 90px;
    }

    .textActu:hover {
        filter: blur(0px);
        opacity: 0.9;
    }

    .containerActu {

        background: #ffffff;
        align-items: center;
        display: flex;
        text-align: center;
        height: 30em;
        margin: 0.5em;
        width: 60em;
    }

    .menuContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .containerActu {
        align-items: center;
        display: flex;
    }

    p {
        display: flex;
        height: 5em;
        justify-content: center;
        width: 100%;
    }

    .img_cat {

        border: solid 0.5em #ececec;
        background-image: url("https://i.postimg.cc/sGsfWV2P/test-background-light-Grey.png[/img][/url]");
        opacity: 0.7;
        display: flex;
        height: 35em;
        margin: 0.5em;
        width: 60em;
    }

    .img_cat:hover {
        opacity: 1;

    }

    #actu {
        height: 30em;
        width: 100%;
    }

    #actu:hover {
        opacity: 1;
        transition: 0.5s;
    }

    h2 {
        font-family: 'Be Vietnam', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 6em;
        font-weight: 700;
        margin: 0px 0px 0.5em 0px;
    }

    #perso1 {
        position: absolute;
        left: 5px;
        bottom: 50px;
        /* transform: scale(0.5); */
        z-index: -1;
        height: 15em;
    }

    #perso2 {
        filter: blur(0px);
        position: absolute;
        right: 0px;
        bottom: -2000px;
        transform: scale(1.5);
        z-index: 1;
        height: 15em;

    }


    #perso3 {
        filter: blur(0px);
        position: absolute;
        right: -100px;
        bottom: -5000px;
        transform: scale(0.6);
        z-index: 1;
        height: 15em;
    }


    #perso4 {
        filter: blur(5px);
        position: absolute;
        left: -190px;
        bottom: -1100px;
        transform: scale(0.8);
        z-index: 1;
        height: 20em;
    }
}





/* FOOTER */

footer {
    background-color: rgb(255, 252, 77);
    display: flex;
    height: 10vh;
    background-color: rgb(255, 252, 77);
    width: 100%;
    overflow: auto;
    align-items: center;
}

#utils_left {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7vh;
    height: 70%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 1em;
    width: 50%;
    align-items: center;
}

#utils_left li a {
    color: #ff1818;
    font-size: 2em;
    text-decoration: none;
    width: auto;
}

#utils_right {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7vh;
    height: 50%;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 30%;
    padding: 0.5em 1em;
    width: 50%;
}

#utils_right li a {
    color: #ff1818;
    text-decoration: none;
    width: auto;
}

/* ------------------ Here for the footer secton ----------- */
 
footer {
    display: flex;
    height: 14vh;
    background-image: url(https://i.postimg.cc/ydGJQ959/test-background.png);
    border-top: 2px solid rgba(255, 7, 7, 0.884);
    width: 100%;
    /* --- ici  permet de garder le footer sticky ---- */
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "legothick";
    text-transform: uppercase;
 
 
 }
 
 
 #utils_left {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    font-weight: 1000;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 1em;
    margin-top: 40px;
    width: 50%;
 }
 
 #utils_left li a {
    color: #ff1818;
    text-decoration: none;
    width: auto;
    
 }
 
 #utils_right {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 30%;
    padding: 0.5em 1em;
    margin-top: 30px;
    width: 20%;
    font-weight: 1000;
    align-items: center;
 }
 
 #utils_right li a {
    color: #ff1818;
    text-decoration: none;
    width: auto;
    
 }
 #utils_right li a:hover {
    border-top: 1px solid #ff1818;
    border-bottom: 1px solid #ff1818;
 }
 #utils_left li a:hover{
    border-top: 1px solid #ff1818;
    border-bottom: 1px solid #ff1818;
    
 }
 
 #utils_right span {
    color: #ff1818;
    width: auto;
 }
 
 /* ----------------------------      Media Queries      --------------------------------------------  */
 
 
 @media only screen and (max-width: 961px) {
    footer {
       height:140px;
       bottom: 0;
       left: 0;
       right: 0;
 
    }
 
    .form-style-new {
       max-width: 600px;
       height: auto;
       font-family: Arial, Helvetica, sans-serif;
       margin: auto;
    }
 
    #utils_left {
 
       display: inline-block;
       flex-wrap: wrap;
       font-size: 1.7vh;
       height: 90%;
       list-style-type: none;
       padding :0 1em;
       width: 75%;
       
   }

   #utils_right
   {
       display: flex;
       flex-wrap: wrap;
       font-size: 1.7vh;
       height: 50%;
       justify-content: space-between;
       list-style-type: none;
       padding: 0 1em;
       margin:auto;
       }

       .perso1 {
        display: none;
    }
    
    
    .perso2
        {
        display: none;
        }
    
    .perso3
    {
        display: none;
    }
    
    .perso4 {
        display: none;
    }

}

html {
    scroll-behavior: smooth;
}

.img_cat {
    border: solid 0.5em #ececec;
}
