
.container 
{
    width: 100%;
}

.container-img
{
    cursor: pointer;
    display : flex;
    flex-direction: column;
    width : 100%;
}

.img-big {
    width : 90%;
    margin-left : 5%;
}

.article-title {
    text-align: center;
    font-size: 3vh;
    color: #000;
    text-transform: uppercase;
}

#entire_article_1
{   
    flex-direction: column;
    height : 200vh;
    width : 100%;
    overflow : hidden;
    border-radius : 2px #000;
}
#entire_article_2
{   
    flex-direction: column;
    height : 200vh;
    width : 100%;
    overflow : hidden;
    border-radius : 2px #000;
}

